
<nav>
    <a href="#page-1"><</a>
    <a href="#page-3">2</a>
    <a href="#page-5">></a>
  </nav>
  <div class="scroll-container">
    <div class="list-group"  id="page-1">
        <a href={{recette1}} class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">La pizza</h5>
            <small>ca pue</small>
          </div>
          <p class="mb-1"> Meusper de vache et chevre</p>
          <small>recommandée par lychar</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
            <div class="d-flex w-100 justify-content-between"id="page-2">
              <h5 class="mb-1">sympa</h5>
              <small>Bonne</small>
            </div>
            <p class="mb-1">recette</p>
            <small>1</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
            <div class="d-flex w-100 justify-content-between"id="page-3">
              <h5 class="mb-1">sympa</h5>
              <small>Bonne</small>
            </div>
            <p class="mb-1">recette</p>
            <small>1</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
            <div class="d-flex w-100 justify-content-between"id="page-4">
              <h5 class="mb-1">sympa</h5>
              <small>Bonne</small>
            </div>
            <p class="mb-1">recette</p>
            <small>1</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
            <div class="d-flex w-100 justify-content-between"id="page-5">
              <h5 class="mb-1">sympa</h5>
              <small>Bonne</small>
            </div>
            <p class="mb-1">recette</p>
            <small>1</small>
          </a>
        
      </div>
  </div>
  