
<div id="carouselExampleControls" class="carousel slide container py-6" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url({{recetteImgUrl}});">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">{{recetteTag}}</h4>
                <h1 class="text-white fadeIn2 fadeInBottom">{{recette1}}</h1>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">{{recetteTime}} </p>
              </div>
            </div>
          </div>
        </div>

      </div>
       <div class="carousel-item">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Ingredients :</h4>
                <div class="text-white mb-0 fadeIn1 fadeInBottom" style="overflow-y: scroll; height: 500px;">
                  <ul>
                    <li class="text-white mb-0 fadeIn1 fadeInBottom" *ngFor="let n of listOfIng">{{n}}</li>
                  </ul>
                </div>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Bon appétit !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');"> 
        
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Étapes :</h4>
                <div class="text-white mb-0 fadeIn1 fadeInBottom" style="overflow-y: scroll; height: 400px;">
                  <ul>
                    <li class="text-white mb-0 fadeIn1 fadeInBottom justify-li" *ngFor="let e of listOfEtapes">-> {{e}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="min-vh-100 position-absolute w-100 top-0">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

