
<div id="carouselExampleControls" class="carousel slide container py-6" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url({{recetteImgUrl[0]}});">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">{{recetteTag}}</h4>
                <h1 class="text-white fadeIn2 fadeInBottom">{{recette}}</h1>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">{{recetteTime}} </p>
              </div>
            </div>
          </div>
        </div>

      </div>
       <div class="carousel-item">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url({{recetteImgUrl[1]}});">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Ingredients :</h4>
                <div class="text-white mb-0 fadeIn1 fadeInBottom" style="overflow-y: scroll; height: 500px;width :90%">
                  <ul>
                    <li class="text-white mb-0 fadeIn1 fadeInBottom" *ngFor="let n of listOfIng">{{n}}</li>
                  </ul>
                </div>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Bon appétit !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://i.pinimg.com/originals/6f/f3/a1/6ff3a10df4b79336e81fea56f25cfa10.gif');"> 
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Étapes :</h4>
                <div class="text-white mb-0 fadeIn1 fadeInBottom" style="overflow-y: scroll; height: 500px; width :90%">
                  <ul>
                    <li class="text-white mb-0 fadeIn1 fadeInBottom justify-li" *ngFor="let e of listOfEtapes">-> {{e}}</li>
                  </ul>
                </div>
                    <a href="{{recetteUrlVideo}}">
                      <button type="button" class="btn btn-success btn-lg w-100 fadeIn3">Recette en vidéo</button>
                    </a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class=" d-flex justify-content-center mt-auto">
      <ul class="pagination">

        <li class="page-item active">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide="prev" aria-label="Previous">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="0" (click)="selectPage(1)">1</a>
        </li>
        <li class="page-item ">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="1" (click)="selectPage(2)">2</a>
        </li>
        <li class="page-item ">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="2" (click)="selectPage(3)">3</a>
        </li>
        <li class="page-item ">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide="next" aria-label="Next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <!--
        <li class="page-item active">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide="prev" aria-label="Previous">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="0">1</a></li>
        <li class="page-item active"><a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="1">2</a></li>
        <li class="page-item active"><a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide-to="2">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#carouselExampleControls" role="button" data-bs-slide="next" aria-label="Next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </li>
        -->
      </ul>
    </nav>
  </div>
    <div class="min-vh-100 position-absolute w-100 top-0">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

