<!-- news.component.html -->
<div class="news-container">
  <div class="news-header">
    <h2 class="news-title">NEWS</h2>
  </div>
  <div class="news-items">
    <div class="news-item" *ngFor = "let n of news">
      <img src="{{n.imageUrl}}" alt="News Image">
      <div class="news-content">
        <a href="{{n.url}}">
          <h3 class="news-item-title">{{n.titre}}</h3>
        </a>
        <p class="news-item-description">{{n.description}}</p>
        <small class="date">{{n.date}}</small>
      </div>
    </div>
    <!-- Additional news items go here -->
  </div>
</div>
